<html>
<body>
Dear {{ dest.firstname }},<br>
this is a contact notification from GoOutSafe.<br>
The local health authority verified the presence of one Covid-19 positive case
in a restaurant you were on {{ date }}.<br>


The authority will contact you as soon as possible. In the meanwhile you are asked the attend the following instructions.<br>

<ul>
<li>According to current knowledge, virus transmission mainly occurs from symptomatic people, but it can also occur shortly before the onset of symptoms, in case of proximity with other people for prolonged periods of time. People who never show symptoms can transmit the virus, even if it is not yet clear to what extent this occurs: further studies are needed.</li>
<li>To help break the transmission chain, it is necessary to limit contact with COVID-19 positive people, wash your hands frequently, stay at least 1 metre away from others and wear a mask.</li>
<li>Anyone with suspected or confirmed COVID-19 infection should stay away from other family members, if possible, in a well-ventilated single room and should not receive visitors.</li>
<li>Family members must stay in other rooms or, if this is not possible, maintain a distance of at least 1 metre from the sick person and sleep in a different bed.</li>
<li>Hands should be washed thoroughly with soap and water or a hydroalcoholic solution after every contact with the patient or his/her surroundings, before and after preparing food, before eating, after using the bathroom and whenever they appear dirty.</li>
</ul>

Best regard,<br>
GoOutSafe
</body>
