{% extends "base.html" %}

{% block content %}
    <h1>Reserving {{name}} </h1> 
    {% with messages = get_flashed_messages(category_filter=['booking']) %}
    {% if messages %}
        {% for message in messages %}
            <p class=flashes><h3>{{ message }}</h3></p>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    {% if current_user.is_authenticated %}
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <dl>
        {% for field in form.display %}
        <dt>{{ form[field].label }}</dt>
        <dd>{{ form[field]() }}</dd>
          {% if form[field].errors %}
              {% for e in form[field].errors %}
              <p class="help-block">{{ e }}</p>
              {% endfor %}
          {% endif %}
        {% endfor %}
        </dl>
        <p>
        <input type=submit value="Book Table">
      </form>
    {% endif %}
{% endblock %}
