{% extends "base.html" %}
{% block content %}
   <script>
    var nTables = 0;
    function changeTablesText(n) {
      if(n < 0) {
        n = 0;
        return;
      }
      var x = document.getElementById("message");
      x.innerHTML= "You have " + n + " tables";
    } 
    function addTablePressed(value) {
      nTables++;
      changeTablesText(nTables);
      var div = document.getElementById("tableList");
      var str = "<li class=list-group-item style='min-height: 4rem; line-height: 2rem' id = '" + nTables + "'>Table " + nTables + "<span class='float-right'><span class='mr-2'>Seats</span><input class='form-control float-right' style='width: 4rem;'required type='number' min=2 value=" + value + " name='table_" + nTables + "'></span></div>";
      div.insertAdjacentHTML('beforeend', str)
    }
    function removeTablePressed() {
      nTables--;
      changeTablesText(nTables);
      document.getElementById(nTables + 1).remove();
    }
</script>
  
<div class="row justify-content-center align-items-center">
  <h1 class="text-center mb-4">GoOutSafe</h1>
</div>
<form class="row justify-content-center pb-2" action="" method="POST">
  <!-- Questo è un accrocchio orribile ma le form erano fatte così quindi suca --lorenzo -->
  {{ form.hidden_tag() }}
  <div class="col-lg-3 d-flex" style="max-width: 27rem;">
    <div class="card w-100 h-100">
      <div class="card-body">
        <div class="form-group">
          <h3>User Info</h3>
          {% for field in form.display %}
          {{ form[field].label }}
          {{ form[field](class_="form-control") }}
          {% if form[field].errors %}
          {% for e in form[field].errors %}
          <p class="help-block text-danger">{{ e }}</p>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary pr-4 pl-4 mb-4">Submit</button>
        <p class="mb-0">Click <a href="/unregister/{{ current_user.id }}" onclick="return confirm('Are you sure?')">here</a> to delete the restaurant.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 d-flex" style="max-width: 27rem;">
    <div class="card w-100 h-100">
      <div class="card-body">
        <h3 id="message">
          You don't have any tables!
        </h3>
        <div class="d-flex mb-4 w-100">
          <button type="button" class="btn btn-primary w-50 mr-1" id="addTableButton" onclick="addTablePressed(4)">Add a
          table</button>
          <button type="button" class="btn btn-primary w-50 ml-1" id="removeTableButton" onclick="removeTablePressed()">Remove last table</button>
        </div>
          <ul class="list-group list-group-flush" style="margin-bottom: 3rem"id=tablesList>
          <dl id="tableList">
          </dl>
        </ul>
        {% for t in tables %}
        <script>addTablePressed('{{ t.seats }}')</script> 
        {% endfor %}
        <div style="padding-bottom: inherit; position: absolute; bottom: 0;"><input class="btn btn-primary" type=submit value="Save and update"></div>
      </div>
    </div>
  </div>
</form>


{% endblock %}