<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  </head>
  <body>
    <h1>{{name}} -- Likes: {{likes}}</h1> 
    <h2>Phone: {{phone}}</h2> 
    {% if extra_info %}
    <h3>Info: {{extra_info}}</h3>
    {% endif %}
    <br>
    <ul>
      <div id="mapid" style="width: 600px; height: 400px;"></div>
    <script>

      var map = L.map('mapid').setView([51.505, -0.09], 2);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(map);
      var mark = L.marker(['{{ lat }}', '{{ lon }}']).addTo(map)
        .bindPopup("<a href=/restaurants/{{ id }}><b>{{ name }}</b></a><br><center>{{ phone }}</center>").openPopup();
        
        mark.on('click', function(e){
          map.setView(e.latlng, 17);
      });
      map.setView(['{{ lat }}', '{{ lon }}'], 17);

    </script>

      {% if current_user.is_authenticated %}
      <br> Insert a review!
      
      {% endif %}
    </ul>
  </body>
</html>

