{% extends "base.html" %}
{% block content %}
    <h1>Restaurant List</h1>
    {% with messages = get_flashed_messages(category_filter=['booking']) %}
      {% if messages %}
        {% for message in messages %}
            <p class=flashes><h3>{{ message }}</h3></p>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <ul>
      {% for restaurant in restaurants: %}
      <li>
      "{{restaurant.name}}"    Avg review: {{restaurant.avg_stars}} ({{restaurant.num_reviews}}) 
      {% if current_user.is_authenticated %}
      <a href="{{base_url}}/{{restaurant.id}}">See Details!</a>
      <a href="restaurants/reserve/{{restaurant.id}}">Reserve!</a>
      {% endif %}
      <a href="{{base_url}}/{{restaurant.id}}">See Details!</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
